
h1 { color: white;
text-align: center;
margin:0;
background-color: #4aaaa5;
width: 200px;
padding: 20px;
margin-left: 80px;
padding-top: 15px;
font-size: 20px;




 }

 .Header1 {
 	display: inline-block;
 	

 }
 .Container
 {
 	border: 1px solid #4aaaa5;
 	width: 960px ;
 	height: 600px ;
 	
  background-image: url("http://il9.picdn.net/shutterstock/videos/9352997/thumb/1.jpg");
  background-size: cover;
 }

 .header2
 { 
 padding-bottom: 20px;
 color: #4aaaa5;
 border-bottom: 2px solid lightgrey;
 margin: 30px; }

 .About
 {
 	height: 500px;
 	width: 500px;
 	background-color: white;
 	margin: 50px;
 	float: left ;
 	border: 1px solid #4aaaa5;



 }
 .Links
 {
 	height: 200px;
 	width: 250px;
 	background-color: white;
 	float: right;
 	margin: 50px;
 	border: 1px solid #4aaaa5;


 
 }

 footer{
   text-align: center;
   background-color: grey;
   width: 962px;
   color: white;
   font-size: 12px;
   padding: 25px 0px 25px 0px ;
   border-top: 5px solid #4aaaa5;

 }
 .About img
 { 
 	margin: 15px 0px 0px 25px;
  }

  #Nav li {
  	float: right;
  	width: 80px;
  	list-style: none;
  	border-right: 2px solid lightgrey;
  	color: grey;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

  }


#Nav { 
	display: inline-block;
	
	
		
 }

  #mainpic 
 {
  float: left;
 	margin: 0px 25px 0px 25px;
  border-radius: 10px;
  border: 1px solid #4aaaa5;
  
 }

.About p {
  float:middle;
  text-align: left;
  padding-right: 15px;
  margin: 0px;
  font-size: 16px; ;
  font-family: Arial;
  font-style: italic;
  color: grey;
  line-height: 2em;
}
.icons li {
  list-style: none;
  float: left;
  display: inline;
  padding: 4px 4px 1px 4px;
}

#ContactForm 
{
  text-align: center;
  line-height: 2em;

}

#SubmitImput 

{ 
  background-color: #4aaaa5;
  color: white;

 }

#NameImput { 
width: 80%;
height: 20px;


 }

 #EmailImput{
width: 80%;
height: 20px


 }

 #MessageImput
 {
  width: 80%;
  
  
  
 }
 #FormUl 
 {
  list-style: none;
  padding:0px;
  margin: 0px;
 }
 #FormUl li 
 {
  text-align: left; 
  color: #4aaaa5;
  font-family: serif;
  margin-left: 45px;
  padding: 5px; 
  }
  #Nav li:hover
  { background-color: #4aaaa5;
  color: white; }
  #portfolioTable 
  {
    align-content: center;
    
  }
  .icons li:hover {
    padding: +2px;
}
#portfolioTable img{
border: 2px solid #4aaaa5;
border-radius: 10px;

}
#portfolioTable img:hover
{

  
}
textarea {
  border-color: lightgrey;
}
 
@media screen and (max-width: 640px){
 
  .About{
    width: 95%;
    height: 100%;
    background-image: none;
    padding: 0px;
    margin: 2%; 


    
    



 }
 #Nav li {
display:block ;
width: 100%;
text-align: center;
border: 1px solid #4aaaa5;
margin-bottom: 2px;
background-color: #4aaaa5;
color: white;






 }
 #Nav li:hover { 
background: white;
color: #4aaaa5 ;
  }

#Nav ul {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0px;
  margin-left: 6%; 

}

.Container { 
  width: 95%;
 margin-left: 3%;

 }

 footer{ 
   margin-top: 0px;
  width: 95%;
   margin-left: 3%;
  border-right: 2px solid grey;
 }

   
.Links { 

  
  width: 80%;


 }

#portfolioTable img
{
   
   width: 100%;
   margin:1%;

   


}
h1 {background-color: white;
    color: #4aaaa5 ;
    border: 1px solid #4aaaa5;
    width:100%;
    margin: 0px;
    
    
         }
.Header1{
  width:90%;

}
textarea{
width: 90%;}

#Nav 
{
  width: 95%;
 

}
 
